body{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    
}
@font-face {
    font-family: 'YuGothic';
    src: url(./Font/Yu\ Gothic\ Light.ttf);
    font-family: 'Hind Jalandhar';
    src: url(./Font/HindJalandhar-Medium.ttf);
}
.hearderBody .pc {
    width: 1280px;
    height: 90px;
    display: flex;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    
}
.left{
    flex: 0 0 350px;
}
.center{
    flex: 1;
}
.right{
    flex: 0 0 500px;
    padding-left: 440px;
}
.headerName {
    flex: 0 0 350px;
    font-family: 'Hind Jalandhar';
    font-weight: 600;
    font-size: 18px;
    color: #4C7DF0;
    margin-left: 40px;
    margin-top: 30px;
}
.headerOne{
    margin-top: 24px;
   
}
.headerNoti {
    margin-bottom: 10px;
    margin-left: 20px;
}
.headeravt{
    margin-left: 20px;
}
.headerlogin{
    display: inline-block;
    border-radius: 19px;
    width: 150px;
    height: 38px;
    border: 2px solid #4C7DF0;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 40px;

}
.textlogin{
    vertical-align: middle;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    font-family: 'YuGothic';
    font-weight: 700;
    line-height: 19.5px;
    color: #4C7DF0;
}
a{
    text-decoration: none
}
.left-nav {
    float: left;
    width: 150px;
    height: 250px;
    margin-top: 60px;
    margin-left: 160px;
    border-radius: 3px;
}
.left-nav a {
    vertical-align: middle;
    display: inline-flex;
    text-decoration: none;
    margin-bottom: 10px;
    color: #7A7A7A;
    font-family: 'YuGothic';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;  
    
}
img {
    margin-right: 10px; 
}
.icon-link-container {
    display: inline-block; 
    
}
section::after {
    content: "";
    display: table;
    clear: both;
  }
article {
    float: left;
    padding: 20px;
    width: 60%;
}
.avtcenter{
    display: block;
    margin-top: 35px;
    margin-left: 350px;
}
.logo{
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 303px;
    width: 40px;
    height: 40px;
}

.icon{
    display: inline-flex;
}
.textlogo{
    font-family: 'YuGothic';
    font-weight: 700;
    font-size: 18px;
    line-height: 29.59px;
    margin-top: 15px;
    margin-left: px;
}
.container{
    display: flex;
}
.leftct{
    margin-top: 35px;
    width: 350px;
    height: 45px;
    display: flex;
    border: none;
    border-bottom: 1px solid #E0EBF8;
    background: linear-gradient(transparent 0%, transparent 99%, #E0EBF8 1%);
    margin-left: 30px;
}
.rightct{
    margin-top: 35px;
    margin-left: 40px;
    display: inline-block;
    width: 350px;
    height: 45px;
    display: flex;
    border: none;
    border-bottom: 1px solid #E0EBF8;
    background: linear-gradient(transparent 0%, transparent 99%, #E0EBF8 1%);
}
.info{
    margin-top: 35px;
    width: 745px;
    height: 50px;
    display: flex;
    border: none;
    border-bottom: 1px solid #E0EBF8;
    background: linear-gradient(transparent 0%, transparent 99%, #E0EBF8 1%);
    margin-left: 30px;
    
}
.infofull{
    margin-top: 35px;
    width: 745px;
    height: 45px;
    display: flex;
    border: none;
    border-bottom: 1px solid #E0EBF8;
    background: linear-gradient(transparent 0%, transparent 99%, #E0EBF8 1%);
    margin-left: 30px;
}
.describe{
    margin-top: 35px;
    width: 745px;
    height: 330px;
    display: flex;
    border: none;
    border-bottom: 1px solid #E0EBF8;
    background: linear-gradient(transparent 0%, transparent 99%, #E0EBF8 1%);
    margin-left: 30px;
}
.blue{
    width: 8px;
    height: 30px;

}
.textnote{
    font-family: 'YuGothic';
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    margin-right: 50px;
    display: block;
}
.textct-two{
    display: block;
    font-family: 'YuGothic';
    font-size: 16px;
    font-weight: 500;
    margin-top: px;
}
.textct{
    display: block;
    font-family: 'YuGothic';
    font-size: 16px;
    font-weight: 500;
    margin-top:5px;
}
.textctn{
    flex-direction: column;
    line-height: 0px;
    
}
.textinfo{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'YuGothic';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.textct-one{
    display: block;
    font-family: 'YuGothic';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 5px;
}
.textif{
    width: 630px;
    display: block;
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'YuGothic';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;}
button{
    margin-left: 130px;
    margin-top: 60px;
    width: 350px;
    height: 60px;
    border-radius: 50px;
    background: #4C7DF0;
    border: none;

}
.textbutton{
    font-family: 'YuGothic';
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 28.8px;
    color: #FFFFFF;
}
.textbt{
    margin-top: 30px;
    margin-left: 280px;
    font-family: 'YuGothic';
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    color: #4C7DF0;
    display: block;
}
footer{
    margin-top: 80px;
    width: 1280px;
    color: #fff; /* Màu chữ của footer */
    background: #243A6B;
    
}
.text-footer-one{
    display: block;
    padding-top: 15px;
    padding-left: 20px;
    font-family: Hind Jalandhar;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #FFFFFF;
}
.text-footer-two{
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    margin-left: 99px;
    display: flex;
    align-items: center;
    height: 50px;
    color: #FFFFFF;
}
.text-footer-three{
    margin-left: 40px;
    font-family: YuGothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;

}
.text-footer-four{
    margin-top: 15px;
    margin-left: 500px;
    font-family: YuGothic;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: left;
    display: flex;
    color: #FFFFFF;
}
.text-footer-five{
    margin-left: 40px;
    font-family: YuGothic;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    color: #FFFFFF;
}
.space{
    width: 16px;
    margin-left: 80px;
    border: 1px solid #FFFFFF; /* Đường viền 1px màu đen */
    position: absolute; /* Đặt phần tử ở vị trí tuyệt đối */
    transform: rotate(-90deg); /* Xoay phần tử -90 độ */
}
